<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4eff2b80-cee4-4538-b080-8db67d92bf32" Alias="Alert display types" Level="1">
  <Info>
    <Name>Alert display types</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 3,
      "value": "Information"
    },
    {
      "id": 1,
      "value": "Success"
    },
    {
      "id": 2,
      "value": "Warning"
    },
    {
      "id": 4,
      "value": "Error or failure"
    }
  ]
}]]></Config>
</DataType>