<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb2a12d4-f88c-4c1b-b7e0-5ee41c1232a0" Alias="Alert type picker" Level="2">
  <Info>
    <Name>Alert type picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/4a8f8ee5f5bc4398b07a373628b5e992",
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>