<?xml version="1.0" encoding="utf-8"?>
<DataType Key="738209be-43ab-4b7e-ba15-3d573380285d" Alias="Basic Rich Text Editor" Level="1">
  <Info>
    <Name>Basic Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "styleselect",
      "bold",
      "italic",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "distraction-free"
  },
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>