<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed6bd261-4ba7-42ef-b250-48bbe8f4de5b" Alias="Block list - List" Level="3">
  <Info>
    <Name>Block list - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5f45f7bf-a4fe-4afa-8511-3d435b3dfc04",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockListViews/Content/listitem.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>