<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2013c30e-1459-4da9-a500-9276d62c49f2" Alias="Content blocks" Level="2">
  <Info>
    <Name>Content blocks</Name>
    <EditorAlias>Perplex.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Version": 3,
  "Structure": 3,
  "DisablePreview": true,
  "HideLabel": true,
  "HidePropertyGroupContainer": true,
  "AllowBlocksWithoutHeader": true
}]]></Config>
</DataType>