<?xml version="1.0" encoding="utf-8"?>
<DataType Key="190d3c9e-1037-4915-b346-11125b0e9af5" Alias="Heading notes" Level="2">
  <Info>
    <Name>Heading notes</Name>
    <EditorAlias>tooorangey.EditorNotes.v8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "noteCssClass": "alert alert-info",
  "editorNotes": "<p>Whenever you put a heading into a page it creates an anchor.</p>\n<p>These are the #'s you sometimes see in the URL of a page.</p>\n<p>By default these are made by making the heading text URL safe: Example heading becomes example-heading</p>\n<p>If you wish to manually set one you can, if it isn't URL safe, it will be made safe</p>",
  "hideLabel": "1",
  "noteRenderMode": "Html"
}]]></Config>
</DataType>