<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4b08b27-8336-4828-9873-0d25fa38ce53" Alias="Heading" Level="4">
  <Info>
    <Name>Heading</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Content+blocks/Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blockHeading",
      "ncTabAlias": "Heading",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>