<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e79eb29a-90e7-47ab-b0e3-a19cbae65da2" Alias="Heading levels" Level="2">
  <Info>
    <Name>Heading levels</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 2,
  "step": 1,
  "max": 5
}]]></Config>
</DataType>