<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8741c558-810e-4285-901d-928a7c9ea7ea" Alias="List display types" Level="1">
  <Info>
    <Name>List display types</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Standard"
    },
    {
      "id": 2,
      "value": "Positive"
    },
    {
      "id": 3,
      "value": "Negative"
    },
    {
      "id": 4,
      "value": "Alphabetical"
    },
    {
      "id": 5,
      "value": "Numeric"
    }
  ]
}]]></Config>
</DataType>