<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6ce24ab-e531-4620-a5bf-3cf28ed60763" Alias="Matryoshka Group Separator" Level="1">
  <Info>
    <Name>Matryoshka Group Separator</Name>
    <EditorAlias>Our.Umbraco.Matryoshka.GroupSeparator</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "anchor": "1",
  "collapsible": "fixed"
}]]></Config>
</DataType>