<?xml version="1.0" encoding="utf-8"?>
<DataType Key="328243ee-3096-44a0-8996-6531b19385ef" Alias="Multiple images" Level="4">
  <Info>
    <Name>Multiple images</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Content+blocks/Media</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blockMultipleImages",
      "ncTabAlias": "Images",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>