<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc2d9168-122b-4e10-bd9f-661bab3b5ae8" Alias="Nested Content - List" Level="1">
  <Info>
    <Name>Nested Content - List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "NestedListItem",
      "ncTabAlias": "List item",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>