<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fee061af-18a4-4dcc-a0f3-4fb71e2ad111" Alias="Rich Text Editor [No Label]" Level="1">
  <Info>
    <Name>Rich Text Editor [No Label]</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "undo",
      "redo",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>