<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0e73882-7675-4d86-8755-b232f1aa8e7a" Alias="Single image picker" Level="1">
  <Info>
    <Name>Single image picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>