<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac92d846-16ae-47a0-8221-292b911c6ad4" Alias="Single image" Level="4">
  <Info>
    <Name>Single image</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Content+blocks/Media</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blockSingleImage",
      "ncTabAlias": "Image",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>