<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8507fe3-1c69-41b4-ae63-3194d231e954" Alias="Tabulate" Level="1">
  <Info>
    <Name>Tabulate</Name>
    <EditorAlias>NW.Tabulate</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "wide": "1",
  "adminOnly": "0",
  "rte": {
    "toolbar": [
      "removeformat",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  }
}]]></Config>
</DataType>