<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35223cb8-76a8-48d2-a390-3178694a8496" Alias="Test Block List" Level="1">
  <Info>
    <Name>Test Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f2669b08-7b4a-4131-82b6-ee0f3814d3a4",
      "settingsElementTypeKey": "b3bc0bf2-3d10-41c1-9b12-55e8c5a3140c",
      "view": "~/App_Plugins/BlockListViews/Content/heading.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a0d62708-3cc4-490a-a4c4-8f6e6a8fffe1",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockListViews/Content/text.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1c0fabde-43fe-4912-a829-dd271ace9522",
      "settingsElementTypeKey": "a3e15b6e-20f2-4110-9ed7-f928f0e5f696",
      "view": "~/App_Plugins/BlockListViews/Content/list.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1f39d63e-7b5f-4943-8e9a-6d2821ce9671",
      "settingsElementTypeKey": "a1809e9e-36c8-4fe5-8ee4-d846ebfdd356",
      "view": "~/App_Plugins/BlockListViews/Content/alert.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "976f10b1-ca4c-4e38-8d31-7fe511deedf4",
      "settingsElementTypeKey": "b3bc0bf2-3d10-41c1-9b12-55e8c5a3140c",
      "view": "~/App_Plugins/BlockListViews/Content/quote.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3e768742-a27d-47e4-8876-214d6b7e6390",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockListViews/Media/image.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9370d77e-fd45-401a-adae-e3ef5024fe03",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockListViews/Media/multipleimages.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e47a1a6a-c7cb-47c4-ab5c-293c0f852d1a",
      "settingsElementTypeKey": "b3bc0bf2-3d10-41c1-9b12-55e8c5a3140c",
      "view": "~/App_Plugins/BlockListViews/Content/table.html",
      "stylesheet": "~/css/main.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>