<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d215ea0a-c083-46a4-9579-89f286c966be" Alias="Text" Level="4">
  <Info>
    <Name>Text</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Content+blocks/Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blockText",
      "ncTabAlias": "Text",
      "nameTemplate": "social"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>