@using ContentModels = Application.Models.Models.CmsModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.BlockStatistic>

<div>
    @Model.Content.Main
    @Model.Content.Secondary
</div>
