@using ContentModels = Application.Models.Models.CmsModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.BlockAlert>

<div>
    @Model.Content.Headline
    @Model.Content.Text
</div>
