<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e9364ce-1e10-40f2-94d2-1edd47b55969" Alias="alertType" Level="3">
  <Info>
    <Name>Alert type</Name>
    <Icon>icon-custom-alert-line color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data+Repositories/Data+Items</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>