<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17664941-5712-4722-abbf-c5aa19e6b06c" Alias="alertTypes" Level="3">
  <Info>
    <Name>Alert types</Name>
    <Icon>icon-custom-alert-fill color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5e9364ce-1e10-40f2-94d2-1edd47b55969" SortOrder="0">alertType</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>