<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1809e9e-36c8-4fe5-8ee4-d846ebfdd356" Alias="alertContentBlockSettings" Level="4">
  <Info>
    <Name>Alert content block settings</Name>
    <Icon>icon-umb-settings color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Content+blocks/Settings</Folder>
    <Compositions>
      <Composition Key="b3bc0bf2-3d10-41c1-9b12-55e8c5a3140c">defaultSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c5547d1f-4b0b-43cb-b8f2-3a156a475585</Key>
      <Name>Display type</Name>
      <Alias>displayType</Alias>
      <Definition>4eff2b80-cee4-4538-b080-8db67d92bf32</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Display type</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Display type</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>