<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a2f679d-3d63-4a8e-a94a-435a9bc48c9a" Alias="blockStatistic" Level="4">
  <Info>
    <Name>Statistic</Name>
    <Icon>icon-custom-percent-line color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Content+blocks/Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dbdee629-a3bc-44a0-acfd-e1928e281554</Key>
      <Name>Main</Name>
      <Alias>main</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Statistic</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>29d3c0ef-c444-44d5-8597-c4dbd8b22418</Key>
      <Name>Secondary</Name>
      <Alias>secondary</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Statistic</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Statistic</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>