<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9370d77e-fd45-401a-adae-e3ef5024fe03" Alias="blockMultipleImages" Level="4">
  <Info>
    <Name>Multiple images</Name>
    <Icon>icon-custom-image-add-line color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Content+blocks/Media</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>62dc0a39-d8c4-44eb-8396-f82033100240</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>3f839cb2-e5bf-4c27-a295-a9fbce538334</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Images</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Images</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>