<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2669b08-7b4a-4131-82b6-ee0f3814d3a4" Alias="blockHeading" Level="4">
  <Info>
    <Name>Heading</Name>
    <Icon>icon-custom-heading color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Content+blocks/Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b97bc6aa-8a19-4403-a3d1-790917764819</Key>
      <Name>Custom anchor</Name>
      <Alias>anchor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Heading</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>54053653-96e1-4292-a218-a3f1b85472a8</Key>
      <Name>Anchor note</Name>
      <Alias>anchorNote</Alias>
      <Definition>190d3c9e-1037-4915-b346-11125b0e9af5</Definition>
      <Type>tooorangey.EditorNotes.v8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Heading</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b2152b31-bfee-42da-b277-97a28481968f</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Heading</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Heading</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>