<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0d62708-3cc4-490a-a4c4-8f6e6a8fffe1" Alias="blockText" Level="4">
  <Info>
    <Name>Text</Name>
    <Icon>icon-custom-align-left color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Content+blocks/Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dfd703ef-3c34-4027-9ad1-7df8cde8e1ae</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>738209be-43ab-4b7e-ba15-3d573380285d</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Text</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Text</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>