<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e81699aa-bc4c-4b07-bdd1-0cec2fe4eb1c" Alias="documentArea" Level="2">
  <Info>
    <Name>Document area</Name>
    <Icon>icon-books color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Documents</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9f509562-c9ee-447c-8f50-c084f5d2ac48" SortOrder="0">documents</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>