<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3e15b6e-20f2-4110-9ed7-f928f0e5f696" Alias="listSettings" Level="4">
  <Info>
    <Name>List content block settings</Name>
    <Icon>icon-umb-settings color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Content+blocks/Settings</Folder>
    <Compositions>
      <Composition Key="b3bc0bf2-3d10-41c1-9b12-55e8c5a3140c">defaultSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f151d69b-072b-4a14-bd10-b928fea107a2</Key>
      <Name>Display type</Name>
      <Alias>displayType</Alias>
      <Definition>8741c558-810e-4285-901d-928a7c9ea7ea</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Display type</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Please set the list display type</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Display type</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>