<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f45f7bf-a4fe-4afa-8511-3d435b3dfc04" Alias="NestedListItem" Level="3">
  <Info>
    <Name>List item</Name>
    <Icon>icon-custom-list-check color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Nested+content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>92c5e9d2-7881-4f29-b708-ba7bbf495afc</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>738209be-43ab-4b7e-ba15-3d573380285d</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>List item</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>List item</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>