@using ContentModels = Application.Models.Models.CmsModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.BlockText>

<div class="space-y-4">
    @Model.Content.Text
</div>
