@using ContentModels = Application.Models.Models.CmsModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.BlockList>

<ul class="space-y-4">
    @foreach (var item in Model.Content.List)
    {
        <li class="flex">
            <span class="flex-shrink-0">
                <svg class="w-6 h-6 text-red-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <title>Negative cross</title>
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
            </span>
            <span class="ml-2">@item.Text</span>
        </li>
    }
</ul>