@using ContentModels = Application.Models.Models.CmsModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.BlockList>

<ul class="space-y-4">
    @foreach (var item in Model.Content.List)
    {
        <li class="flex">
            <span class="flex-shrink-0">
                <svg class="w-6 h-6 text-green-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <title>Positive checkmark</title>
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
            </span>
            <span class="ml-2">@item.Text</span>
        </li>
    }
</ul>